body {
    margin: 0px;
    text-align: center;
    font: caption;
}

div {
    margin: 0px
}


td {
    text-align: left;
  }


h1 {
    color:#424874;
    margin-top:0px;
    font: italic 3rem "Fira Sans", serif;
}

h2 {
    color:#10121d;
    margin-top:0px;
    font: italic 2rem "Fira Sans", serif;
}

h3 {
    color:#424874;
    margin-top:0px;
    font: italic 1.5rem "Fira Sans", serif;
}

img {
    padding: 50px;
}

p {
    color:#A6B1E1;
 
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color:#F4EEFF;
    border-width: 5px;
    width: 5%;
    margin: 50px auto 50px auto;

}

a {
    color:#424874;
    margin: 10px 5px;
    text-decoration: none;
}

a:hover {
    color:#A6B1E1;
}


/*****class slectors*****/

.top-container {
    background-color: #F4EEFF;
    position: relative;
    padding-top:100px;
}

.middle-container {
    background-color: white;
    line-height: 2;
}


.bottom-container {
    background-color:#F4EEFF;
    padding: 40px 0 20px;
    
}


.top-heart {
    height: 100px;
    width: 100px; 
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-heart {
    height: 100px;
    width: 100px; 
    position: absolute;
    left: 300px;
    top: 250px;

}

.computer {
    position: relative;
    bottom: 10px;
}

.pixelpic1 {
    width: 40%;
    float: left;
    
}

.pixelpic2 { 
    width: 40%;
    float: right;
}

.bottom-container {
    margin-bottom: 0;

}

.skill-row {
    width:70%;
    height: 400px;
    margin: auto;
    line-height: 2;
    overflow: auto;
    
}


.btn {
    background: #A6B1E1;
    background-image: -webkit-linear-gradient(top, #A6B1E1, #424874);
    background-image: -moz-linear-gradient(top, #A6B1E1, #424874);
    background-image: -ms-linear-gradient(top, #A6B1E1, #424874);
    background-image: -o-linear-gradient(top, #A6B1E1, #424874);
    background-image: linear-gradient(to bottom, #A6B1E1, #424874);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #F4EEFF;
    background-image: -webkit-linear-gradient(top, #F4EEFF, #DCD6F7);
    background-image: -moz-linear-gradient(top, #F4EEFF, #DCD6F7);
    background-image: -ms-linear-gradient(top, #F4EEFF, #DCD6F7);
    background-image: -o-linear-gradient(top, #F4EEFF, #DCD6F7);
    background-image: linear-gradient(to bottom, #F4EEFF, #DCD6F7);
    text-decoration: none;
  }

  .copy-right {
    font-size: 0.75rem;
    padding: 20px 0;
  }